body {
    margin: 0;
    width: auto;
    height: auto;
    
    
}

/* Top Navigation Menu */

.banner_top {

    width: auto;
    height: 80px;
    background-color: #18206F;
    color:aliceblue;
    font-size: 25px;
    font-weight: 5px;
    
   

}

.nav-link
{
    color: aliceblue;
} 

/*Home Page*/
#title {
    
    align-content: center;
    
}
#roger {
 
    width: 400px;
    height: 550px;
    
}


p {
  
    text-align: justify;
    padding-right: 50px;
    padding-top: 20px;
}

/*Skills Section*/

.banner {

    width: auto;
    height: 80px;
    background-color: #18206F;
    color:aliceblue;
    font-size: 25px;
    font-weight: 5px;
    margin-top: 20px;
   

}

.banner p {

    text-align: center;
    margin: 20px;

}

#top_divider {
    
    width: auto;
    height: 150px;
    text-align: center;
    padding-top: 20px;
    
}

#bottom_divider {
    
    width: auto;
    height: 50px;
   
    
}


#img_language {
    
    width: auto;
    height: 150px;
}


/*Portfolio Section*/


#portfolio_image_roger {
    width: 55%;
    height: 60%;
    float: right;
    padding-right: 20px;

}

.img_language_portfolio {
    width: 12%;
    height: 17%;
}

#portfolio_image {
    
    
    width: auto;
    height: 60%;
    float: right;
    
}

.portfolio_titles {
    
    font-size: 30px;
}

#img_language_portfolio_unity  {
    width: 12%;
    height: 15%;
    margin-left: 50px;
}

.iframe{

    width: 450px;
    height: 350px;
    margin-left: 50px;
    margin-right: 50px;

}

/* Contact Section  */

.contact_links{

    width: auto;
    height: 70px;
    float:left;
    padding-right: 30px;
    padding-top: 10px;
    

}
